<!doctype html>
<title>{% block title %}{% endblock %} - VIS</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='VIS.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='newstyle.css') }}">
<script src="{{ url_for('static', filename='script.js') }}"></script>

<header>
  <a class="titel" href="{{ url_for('index.index') }}"><img src="/static/vianen logo.jpg"></a>
</header>
<nav class="navgrid">
  <ul>
    <li><a class="{{ 'active' if active_page == 'artikel' else 'navknop' }}" href="{{ url_for('artikel.index') }}">Artikelen</a>
    <li><a class="{{ 'active' if active_page == 'voorraad' else 'navknop' }}" href="{{ url_for('voorraad.index') }}">Voorraad</a>
    <li><a class="{{ 'active' if active_page == 'productie' else 'navknop' }}" href="{{ url_for('productie.index') }}">Productie</a>

    {% if g.user %}
    <li><span>{{ g.user['Gebruikersnaam'] }}</span>
    <li class="auth"><a class="navknop" href="{{ url_for('auth.logout') }}">Uitloggen</a>
      {% else %}
    <li class="auth"><a href="{{ url_for('auth.login') }}">Inloggen</a>
    <li class="auth"><a href="{{ url_for('auth.register') }}">Registreren</a>
    {% endif %}
  </ul>
</nav>

<header class="header">
  {% block header %}{% endblock %}
</header>
<section>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<footer class="footergrid">
  <ul>
  <li><a class="changelog" href="{{ url_for('index.changelog') }}"> Changelog </a></li>
  <li>Versie 1.10</li>
  </ul>
</footer>

<br>