{% extends 'base.html' %}
{% set active_page = "voorraad" %}

{% block header %}
  <h1>{% block title %}Nieuw artikel toevoegen aan voorraad{% endblock %}</h1>
{% endblock %}

{% block content %}
<form autocomplete="off" method="post">

    <label for="Artikelnaam">Artikelnaam</label>
  <input name="Artikelnaam" value="{{ request.form['Artikelnaam'] }}" list="Artikelnaam" required>
      <datalist name="Artikelnaam" id="Artikelnaam">
        {% for artikel in artikelnamen %}
          <option>{{ artikel[0] }}</option>
        {% endfor %}
      </datalist>

  <label for="Prijs">Prijs</label>
  <input name="Prijs" id="Prijs" value="{{ request.form['Prijs'] }}">

    <label for="Opmerking">Opmerking</label>
    <textarea name="Opmerking" id="Opmerking" value="{{ request.form['Opmerking'] }}"></textarea>

    <label for="aantal">Aantal</label>
      <select name="aantal" id="aantal">
          <option selected>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
      </select>

    <br>
  <input type="submit" value="Save">

</form>

{% endblock %}