{% extends 'base.html' %}
{% set active_page = "voorraad" %}

{% block header %}
  <h1>{% block title %}Bewerken voorraadartikel: {{ product['Artikelnaam'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="text">
  <p>VoorraadID: <a class="bold">{{ product['VoorraadID'] }}</a></p>
  <p>Artikelnaam: <a class="bold">{{ product['Artikelnaam'] }}</a></p>
  <p>Categorie: <a class="bold">{{ product['Categorie'] }}</a></p>
  <p>Prijs: <a class="bold">€ {{ product['Prijs'] }}</a></p>
  <p>Opmerking: <a class="bold">{{ product['Opmerking'] }}</a></p>
  <p>Aan voorraad toegevoegd op: <a class="bold">{{ product['CreatieTijd'] }}</a> door <a class="bold">{{ product['GemaaktDoor'] }}</a></p>
</div>
<hr>
<div>
  <form autocomplete="off" method="post">

      <label for="prijs">Prijs</label>
    <input name="prijs" id="prijs" value="{{ product['Prijs'] }}" required>

    <label for="opmerking">Opmerking</label>
    <textarea type="text" name="opmerking" id="opmerking">{{ product['Opmerking'] }}</textarea>

    <input type="submit" value="Opslaan">
  </form>
  <hr>
  <form action="{{ url_for('voorraad.delete', VoorraadID=product['VoorraadID']) }}" method="post">
    <input class="danger" type="submit" value="Verwijderen" onclick="return confirm('Weet je het zeker?');">
  </form>
  </div>
{% endblock %}