{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Nieuw artikel toevoegen aan voorraad{% endblock %}</h1>
{% endblock %}

{% block content %}
<form  method="post">

    <label for="Artikelnaam">Artikelnaam</label>
  <input name="Artikelnaam" value="{{ request.form['Artikelnaam'] }}" list="Artikelnaam" required>
      <datalist name="Artikelnaam" id="Artikelnaam">
        {% for artikel in artikelnamen %}
          <option>{{ artikel[0] }}</option>
        {% endfor %}
      </datalist>

  <label for="Prijs">Prijs</label>
  <input name="Prijs" id="Prijs" value="{{ request.form['Prijs'] }}">

    <label for="Opmerking">Opmerking</label>
    <textarea name="Opmerking" id="Opmerking" value="{{ request.form['Opmerking'] }}"></textarea>

    <br>
  <input type="submit" value="Save">

</form>

{% endblock %}