{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post[artikelnummer] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="artikelnummer">artikelnummer</label>
    <input name="artikelnummer" id="artikelnummer" value="{{ request.form['artikelnummer'] }}" required>

      <label for="naam">naam</label>
    <input name="naam" id="naam" value="{{ request.form['naam'] }}" required>

      <label for="categorie">categorie</label>
    <input name="categorie" id="categorie" value="{{ request.form['categorie'] }}" required>

      <label for="prijs">prijs</label>
    <input name="prijs" id="prijs" value="{{ request.form['prijs'] }}" required>

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('voorraad.delete', artikelnummer=post['artikelnummer']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}