{% extends 'base.html' %}
{% set active_page = "voorraad" %}

{% block header %}
  <h1>{% block title %}Bewerken voorraadartikel: {{ product['Artikelnaam'] }} {% endblock %}</h1>
{% endblock %}

{% block content %}

  <p>VoorraadID: {{ product['VoorraadID'] }}</p>
  <p>Artikelnaam: {{ product['Artikelnaam'] }}</p>
  <p>Categorie: {{ product['Categorie'] }}</p>
  <p>Merk: {{ product['Merk'] }}</p>
  <p>Prijs: {{ product['Prijs'] }}</p>
  <p>Opmerking: {{ product['Opmerking'] }}</p>
  <p>Aan voorraad toegevoegd op: {{ product['CreatieTijd'] }} door {{ product['GemaaktDoor'] }}</p>

<hr>

  <form method="post">

      <label for="prijs">Prijs</label>
    <input name="prijs" id="prijs" value="{{ product['Prijs'] }}" required>

    <label for="opmerking">Opmerking</label>
    <textarea type="text" name="opmerking" id="opmerking">{{ product['Opmerking'] }}</textarea>

    <input type="submit" value="Opslaan">
  </form>
  <hr>
  <form action="{{ url_for('voorraad.delete', VoorraadID=product['VoorraadID']) }}" method="post">
    <input class="danger" type="submit" value="Verwijderen" onclick="return confirm('Weet je het zeker?');">
  </form>
{% endblock %}