{% extends 'base.html' %}
{% set active_page = "productie" %}

{% block header %}

  <div class="title-page">
    <ul>
      <li><h1 class="head">{% block title %}Productie{% endblock %}</h1></li>
  {% if g.user %}
  <li><p class="create"><a class="action" href="{{ url_for('voorraad.index') }}">Nieuw artikel aan productie toevoegen</a></p></li>
  {% endif %}
    </ul>
  </div>
      {% endblock %}

{% block content %}
<div class="search">
<input class="searchbar" type="text" id="myInput" onkeyup="myFunction()" placeholder="Zoeken in productie..">
</div>

<div id="myUL" class="index">

  {% for ProductieProduct in productie %}
    <article class="content {{ ProductieProduct['Categorie'] }}">
      <h1>{{ ProductieProduct['Artikelnaam'] }}</h1>
      <div class="details">

        <li class="item"><a>{{ ProductieProduct['Naam'] }}</a></li>
        <li class="item"><a>{{ ProductieProduct['Afdeling'] }}</a></li>
        <li class="item"><a>{{ ProductieProduct['UitgifteTijd'] }}</a></li>
        <li class="item"><a>{{ ProductieProduct['Categorie'] }}</a></li>

      <li class="knop"><a class="action" href="{{ url_for('productie.product', ProductieID=ProductieProduct['ProductieID']) }}">Bewerken</a></li>
      <li class="knop"><a class="action" href="{{ url_for('productie.gebruikersovereenkomst', ProductieID=ProductieProduct['ProductieID']) }}">Gebruikersovereenkomst</a></li>
      </div>
    </article>
  {% endfor %}
</div>
  {% endblock %}