{% extends 'base.html' %}
{% set active_page = "productie" %}

{% block header %}

  <h1>{% block title %} {{ product['Artikelnaam'] }} van {{ product['Naam'] }}{% endblock %}</h1>

{% endblock %}
{% block content %}
<div class="text">
  <p>Artikelnaam: <a class="bold">{{ product['Artikelnaam'] }}</a></p>
  <p>Categorie: <a class="bold">{{ product['Categorie'] }}</a></p>
  <p>Afdeling: <a class="bold">{{ product['Afdeling'] }}</a></p>
  <p>Persoon: <a class="bold">{{ product['Naam'] }}</a></p>
  <p>Prijs: <a class="bold">€ {{ product['Prijs'] }}</a></p>
  <p>Opmerking: <a class="bold">{{ product['Opmerking'] }}</a></p>
  <p>Aan voorraad toegevoegd op: <a class="bold">{{ product['CreatieTijd'] }}</a> door <a class="bold">{{ product['GemaaktDoor'] }}</a></p>
  <p>Uitgegeven op: <a class="bold">{{ product['UitgifteTijd'] }}</a> door <a class="bold">{{ product['UitgifteDoor'] }}</a></p>
</div>
 <hr>

 <form autocomplete="off" action="{{ url_for('productie.update', ProductieID=product['ProductieID']) }}">
    <input type="submit" value="Bewerken" />
 </form>

 <form action="{{ url_for('productie.giveback', ProductieID=product['ProductieID']) }}">
    <input type="submit" value="Terug naar voorraad" />
 </form>

 <form action="{{ url_for('productie.delete', ProductieID=product['ProductieID']) }}" method="post">
    <input class="danger" type="submit" value="Verwijderen" onclick="return confirm('Weet je het zeker?');">
 </form>

{% endblock %}